---
import Layout from "../layouts/Layout.astro";
import { MessageSquare, MailIcon } from "@lucide/astro";
---

<script>
    async function handleSubmit(e: Event) {
        e.preventDefault();
        const form = e.target as HTMLFormElement;
        const name = (form.querySelector("#name") as HTMLInputElement).value;
        const email = (form.querySelector("#email") as HTMLInputElement).value;
        const message = (form.querySelector("#message") as HTMLTextAreaElement)
            .value;

        const res = await fetch(import.meta.env.PUBLIC_MAIL_API_URL, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ name, email, message }),
        });

        if (res.ok) {
            alert("Mensaje enviado con éxito");
            form.reset();
        } else {
            const errorData = await res.json();
            console.error("Error al enviar el mensaje:", errorData.message);
            alert("Error al enviar el mensaje");
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        const form = document.querySelector("form");
        if (form) {
            form.addEventListener("submit", handleSubmit);
        }
    });
</script>

<Layout>
    <section class="contact section">
        <div class="contact_heading">
            <h1>¡Cuentanos tu idea!</h1>
            <p>
                Transformamos tu idea en realidad, generamos impacto y le damos
                a tu marca la presencia digital que merece.
            </p>
        </div>

        <div class="contact_body">
            <form>
                <div class="contact_input">
                    <label for="name">Nombre:</label>
                    <input
                        id="name"
                        type="text"
                        placeholder="Nombre"
                        required
                    />
                </div>

                <div class="contact_input">
                    <label for="email">Correo:</label>
                    <input
                        id="email"
                        type="email"
                        placeholder="Correo"
                        required
                    />
                </div>

                <div class="contact_input">
                    <label for="message">Mensaje:</label>
                    <textarea
                        id="message"
                        placeholder="Escribe tu mensaje aquí..."
                        required></textarea>
                </div>

                <div class="button_wrapper">
                    <button class="button primary">Enviar</button>
                </div>
            </form>

            <div class="contact_other">
                <p>¿Tienes alguna pregunta? ¡Envianos un mensaje!</p>

                <div class="buttons">
                    <a
                        class="button secondary"
                        href="https://wa.me/2228230805?text=Estoy%20interesado%20en%20un%20sitio%20web"
                        target="_blank"
                    >
                        <MessageSquare class="icon" />
                        Mandanos un WhatsApp
                    </a>
                    <a
                        class="button secondary"
                        href="mailto:syncestudiomx@gmail.com"
                    >
                        <MailIcon class="icon" />
                        Mandanos un correo
                    </a>
                </div>
            </div>
        </div>
    </section>
</Layout>

<style lang="scss">
    .contact {
        &_body {
            margin-top: 4rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        &_other {
            justify-self: end;

            .buttons {
                padding-left: 12rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }

            p {
                font-size: 1.2rem;
                justify-self: end;
                margin-bottom: 2rem;
            }

            .button {
                display: flex;
                gap: 1rem;
                align-items: center;
                justify-content: center;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
        }

        &_input {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5rem;
            text-align: left;

            label {
                font-size: 1rem;
                margin-bottom: 0.5rem;
            }

            input,
            textarea {
                font-family: inherit;
                padding: 0.75rem;
                background: rgba(255, 255, 255, 0.1);
                color: #fff;
                outline: none;
                border: none;
                border-radius: 4px;
                font-size: 1rem;
                width: 100%;
            }

            textarea {
                height: 150px;
                resize: vertical;
            }
        }

        &_heading {
            margin-top: 4rem;

            h1 {
                font-size: 4rem;
                text-transform: uppercase;
            }

            p {
                width: 80%;
                opacity: 60%;
                font-size: 1.2rem;
                margin-top: 1rem;
            }
        }

        @media screen and (max-width: 1200px) {
            h1 {
                font-size: 3rem;
            }

            p {
                width: 100%;
                font-size: 1.2rem;
            }
        }

        @media (max-width: 1500px) {
            text-align: center;

            &_body {
                grid-template-columns: 1fr;
                gap: 2rem;
                justify-content: center;

                form {
                    .button_wrapper .button {
                        width: 100%;
                    }
                }
            }

            &_other {
                padding: 0 2rem;
                justify-self: center;
                margin-top: 3rem;

                .buttons {
                    padding-left: 0;
                }
            }
        }
    }
</style>
