---
import { Image } from 'astro:assets';
---

<header class="container">
    <a class="logo" href="/#">
        <Image src="/logo_text.png" alt="SYNC Logo" width={50} height={14} />
    </a>
    <nav class="nav_links">
        <a href="/#">Inicio</a>
        <a href="/projects">Proyectos</a>
        <a href="/contact">Contacto</a>
    </nav>
</header>

<style lang="scss">
    header {
        margin: auto;
        display: flex;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        a {
            color: white;
            text-decoration: none;
            font-size: 0.8rem;
            opacity: 0.8;
        }

        nav {
            display: flex;
            gap: 1.5rem;
            justify-content: center;
            align-items: center;

            a:hover {
                opacity: 1;
            }
        }
    }
</style>
