<div class="service_card">
    <div class="service_card_content">
        <h2>Desarrollo web</h2>
        <p>
            Creamos sitios web personalizados y optimizados para SEO, adaptados
            a las necesidades de tu negocio.
        </p>
        <a href="/contacto" class="link">Quiero mi sitio web</a>
    </div>
    <div class="image">
        <img src="/web_development_service.webp" alt="Desarrollo web" />
    </div>
</div>

<style lang="scss">
    .service_card {
        width: 100%;
        max-height: 600px;
        border-radius: 0.8rem;
        padding-inline: 10rem 0;
        background: rgba(255, 255, 255, 0.1);
        overflow: hidden;
        padding: 5vw;
        display: grid;
        grid-template-columns: 60% 40%;
        align-items: center;

        h2 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 0.9rem;
            margin-bottom: 2rem;
            width: 80%;
        }

        a {
            margin-bottom: 2rem;
        }

        .image img {
            max-width: 600px;
            height: auto;
            object-fit: cover;
            border-radius: 0.5rem;
            position: relative;
            bottom: 2rem;
            right: 5rem;
        }

        @media screen and (max-width: 1200px) {
            display: flex;
            flex-direction: column;
            text-align: center;

            p {
                margin: auto;
            }

            a {
                justify-content: center;
                margin-top: 1rem;
            }

            .image {
                width: 35vw;
                display: flex;

                img {
                    width: 100%;
                    position: static;
                }
            }
        }

        @media screen and (max-width: 768px) {
            height: 500px;
            padding-top: 5rem;
            
            .image {
                width: 75%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
</style>
