---
import "../styles/globals.scss";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<title>SYNC - Expertos en Desarrollo Web</title>
		<meta name="author" content="SYNC" />
		<meta
			name="description"
			content="Sync: expertos desarrolladores web. Creamos sitios web optimizados, modernos y funcionales. ¡Contáctanos y destaca online!"
		/>
		<meta name="robots" content="index, follow" />
		<slot name="head" />
	</head>
	<body>
		<Header />

		<slot />
	</body>
</html>